Sample/Sample.xcodeproj/project.pbxproj
Sample/Sample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Sample/Sample.xcodeproj/project.xcworkspace/xcshareddata/Sample.xccheckout
Sample/Sample.xcodeproj/project.xcworkspace/xcuserdata/Lyle.xcuserdatad/UserInterfaceState.xcuserstate
Sample/Sample.xcodeproj/xcuserdata/Lyle.xcuserdatad/xcschemes/Sample.xcscheme
Sample/Sample.xcodeproj/xcuserdata/Lyle.xcuserdatad/xcschemes/xcschememanagement.plist
Sample/Sample/Sample.1
Sample/build/Debug/Sample
Sample/build/Sample.build/Debug/Sample.build/Objects-normal/x86_64/Sample.LinkFileList
